.arrows {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.arrowSpans {
  margin-left: 80%;
}

.left {
  border-radius: 9px 0 0 9px;
}

.right {
  border-radius: 0 9px 9px 0;
}

.arrow {
  background-color: #fff;
  padding: 5px;
  width: 50px;
  text-align: center;
  border: 1px solid #eee;
}

.left:hover,
.right:hover {
  background-color: #eee;
}
