.changeLabel {
  color: #fff;
  width: 250px;
}
.ReqAndPrevDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.ReqAndPrevTextarea {
  width: 48%;
  resize: none;
  border-radius: 10px;
  min-height: 200px;
  padding: 10px;
}

.previewDiv {
  display: inline-block;
  min-height: 300px;
  width: 48%;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

/* 
  Preview styles
 */
.problem h2,
.problem_points h2 {
  background-color: lightgrey;
  font-size: 28px;
  padding: 3px;
  border-radius: 3px;
  margin-top: 15px;
}

.problem h3,
.problem_points h3,
.code_editor h3,
#output_problem h3 {
  background-color: rgba(200, 200, 200, 0.3);
  font-size: 24px;
  padding: 3px;
  border-radius: 3px;
  margin-top: 25px;
}

.problem h4,
.problem_points h4,
.code_editor h4,
#output_problem h4 {
  font-size: 18px;
  padding: 3px;
  border-radius: 3px;
}

.text_area_for_code {
  width: 100%;
  height: calc(100% - 100px);
  min-height: 400px;
  flex: 1;
  font-family: Consolas, Monaco, "Lucida Console", Courier, monospace;
}

.problem_meta > p {
  display: inline;
}

.problem_meta,
.problem_page_table {
  width: 100%;
  min-width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: sans-serif;
}

.problem_page_table td,
.problem_page_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.problem_page_table th {
  background-color: #ddd;
}

.problem_page_table tr:nth-child(even) {
  background-color: #ddd;
}

.problem_page_table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.problem_page_table td:hover {
  background-color: #aaa;
}

@media (max-width: 670px) {
  .problem_page_table thead {
    display: none;
  }
  .problem_page_table,
  .problem_page_table tbody,
  .problem_page_table tr,
  .problem_page_table td {
    display: block;
    width: 100%;
  }
  .problem_page_table tr {
    margin-bottom: 15px;
  }
  .problem_page_table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .problem_page_table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .changeLabel {
    width: 100% !important;
  }
}
