.inputWidth {
  width: 300px !important;
}

.changeLabel {
  color: #fff;
  width: 250px;
}

.addSpaces {
  margin-top: 20px !important;
}

.selectCategoryElement {
  width: 50% !important;
}

.abstractProblemTextarea {
  width: 40%;
  margin-right: 20px;
  border-radius: 10px;
  resize: none;
}

.formatAbstractProblemDiv {
  flex-direction: column;
}

.formatAbstractProblem {
  display: block;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* width: 80% !important; */
}
