.chapters {
  max-width: 1700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.chapters_show_chapter {
  align-items: center;
  flex-direction: column;
  color: var(--main-txt-color-light);
  justify-content: space-around;
  border-radius: 10px;
  display: flex;
  margin: 0 10px 30px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
  flex-wrap: wrap;
  font-size: 22px;
  padding: 10px 30px 30px 30px;
}

.chapter_title {
  color: var(--main-txt-color-one);
  padding: 0 0 15px 0;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  user-select: none;
}

.cards_collection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.cards_collection .card {
  cursor: pointer;
  min-width: 200px;
  max-width: 200px;
  display: flex;
  min-height: 200px;
  max-height: 200px;
  padding: 0 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 3px;
  transition: 0.2s ease-out;
}
.cards_collection .card_title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 70px;
  border-bottom: 1px dashed var(--main-txt-color-light);
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  text-decoration: none;
  color: aliceblue;
}

.cards_collection .card .stats {
  padding: 5px 0 0 0;
  font-size: 14px;
  color: var(--main-txt-color-light);
  opacity: 1;
}

.chapters_show_subchapter {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 2px 10px;
  border-radius: 10px;
  color: var(--main-txt-color-light);
  transition: 0.2s;
  line-height: 0.8;
  margin: 5px 0 5px 0;
}

.cards_collection .card:hover {
  color: var(--main-txt-color-one);
  background-color: rgba(0, 0, 0, 0.1);
}

.cards_collection .card:hover .stats {
  color: var(--main-txt-color-light);
  opacity: 1;
}

.percent {
  text-align: center;
  color: var(--main-txt-color-light);
  padding: 5px 0 0 0;
}
