::placeholder {
  color: #fff;
}

.RegisterLinkDiv {
  text-align: center;
}

.RegisterLink {
  text-decoration: none;
}

.FailedAuthBadge {
  border-radius: 7px;
  padding: 1px;
  margin-right: 2px;
  line-height: 24px;
}

.DisableSubmitButton {
  pointer-events: none;
}

.ReasonBadgeWrapper {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.FailedAuthDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 60px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: var(--main-txt-color-always-light);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.LoginH2 {
  text-align: center;
  letter-spacing: 1px;
  color: var(--main-txt-color-always-light);
}

.LoginForm .inputGroup {
  position: relative;
}

.LoginForm .inputGroup input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.LoginInputLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.loginSubmitBtn {
  border-radius: 5px;
  width: 100%;
  display: block;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  margin-left: auto;
  outline: none;
  background: darkcyan;
  font-size: 1rem;
  text-shadow: 1px 1px black;
  padding: 10px 20px;
  color: var(--main-txt-color-always-light);
}

.loginSubmitBtnDisabled {
  opacity: 0.6;
  pointer-events: none;
}

.loginSubmitBtn:hover {
  background: rgba(0, 139, 139, 0.7);
}
