::placeholder {
  color: #fff;
}

.DisableSubmitButton {
  pointer-events: none;
}

.ReasonBadgeWrapper {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.FailedAuthDiv {
  text-align: center;
}

.RestoreWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RestoreForm {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 60px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: var(--main-txt-color-always-light);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 370px) {
  .RestoreForm::before {
    transform: skewX(-19deg);
  }
}

.RestoreH2 {
  text-align: center;
  letter-spacing: 1px;
  color: var(--main-txt-color-always-light);
}

.SocialLogin {
  text-align: center;
  margin-bottom: 15px;
}

.RestoreForm .InputGroup {
  position: relative;
}

.RestoreForm .InputGroup input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.RestoreInputLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.RegisterForm .InputGroup input:focus + label,
.RegisterForm .InputGroup input:valid + label,
.RestoreForm .InputGroup input:focus + label,
.RestoreForm .InputGroup input:valid + label {
  transform: translateY(-18px);
  color: var(--main-txt-color-always-light);
  font-size: 0.8rem;
}

.RestoreSubmitBtn {
  color: var(--main-txt-color-always-light);
  width: 100%;
  text-shadow: 1px 1px black;
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: darkcyan;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
