.addProblemBackground {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  margin: 15px;
  padding: 15px;
  width: 98%;
}

.tabsWrapper {
  display: flex;
  border-bottom: 1px solid #fff;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 20px;
}

.helpButton {
  font: 1.3rem "Roboto", sans-serif;
  color: #fff;
  background-color: rgba(68, 68, 68, 0.697);
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  user-select: none;
  text-align: center;
}

.helpButton:hover {
  background-color: rgba(132, 131, 131, 0.8);
  cursor: pointer;
  user-select: none;
}

.horizontalRule {
  color: #fff;
}

.tablink {
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  padding: 7px 20px 7px 20px;
  display: inline-block;
  font-family: inherit;
}

.active {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.tablink:hover {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.title {
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  font-weight: normal;
}

@media (max-width: 740px) {
  .helpButton {
    font-size: 0.9rem;
    padding: 5px 10px 5px 10px;
  }
}
