.background {
  width: 90%;
  background-color: #343a40;
  margin: auto;
  margin-top: 30px;
  padding: 40px;
  border-radius: 20px;
}

.title {
  font-size: 2.9em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.title img {
  width: 100px;
}

.text {
  font-size: 1.7em;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: center;
  color: #fff;
  margin-top: 25px;
}
