.main_page_chapter_select {
  cursor: pointer;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  max-width: 350px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  color: var(--main-txt-color-light);
  transition: 0.2s;
  text-decoration: none;
}

.main_page_chapter_select .name {
  font-weight: bold;
}

.main_page_chapter_select:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
  color: var(--main-txt-color-light);
}

.box .chapter_icon {
  font-size: 80px;
  font-style: normal;
  font-family: "Segoe UI Symbol";
  color: var(--main-txt-color-dark);
  margin-top: 20px;
  margin-bottom: 35px;
}

.mainUnauthenticated {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainUnauthenticated p {
  font-size: 1.8rem;
  color: #fff;
  user-select: none;
  text-align: center;
  font-weight: 500;
}

.textDiv {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  user-select: none;
}

@media (max-width: 760px) {
  .mainUnauthenticated p {
    font-size: 1.5rem;
  }

  .textDiv {
    font-size: 2rem;
  }

  .mainUnauthenticated img {
    width: 200px;
  }
}
