.MoveRight {
  margin-left: auto;
}

.Transition {
  transition: all 1s ease-out;
}

.ClearButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media (min-width: 991) {
  .NavbarFlexDistance {
    display: flex;
    justify-content: space-between;
  }
}
