.buttonsWrapper {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-65%, -120%);
  margin-left: 40px;
}

.button {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(184, 197, 190);
  font-size: 1.2rem;
  -webkit-box-shadow: 5px 5px 5px 2px #3f3d3d;
  box-shadow: 5px 5px 5px 2px #3f3d3d;
  color: #222;
}

.saveButton {
  margin-right: 10px;
}

.button:hover {
  background-color: rgb(27, 128, 72);
  cursor: pointer;
}
