.componentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.testComponentButton {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 3px 0 3px 0;
  box-shadow: 5px 6px 11px 5px rgba(0, 0, 0, 0.75);
}

.testComponentButton:first-child {
  margin-top: 25px;
}

.buttonText {
  width: 70%;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.testComponentButton:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

/* loading animation */

:root {
  --yellow: #feb60a;
  --red: #ff0062;
  --blue: #00dbf9;
  --violet: #da00f7;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaderContainer div {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.animationYellow {
  background-color: var(--yellow);
}

.animationRed {
  background-color: var(--red);
  animation-delay: 0.1s;
}

.animationBlue {
  background-color: var(--blue);
  animation-delay: 0.2s;
}

.animationViolet {
  background-color: var(--violet);
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
