.changeLabel {
  color: #fff;
  width: 250px;
}

.inputWidth {
  width: 300px !important;
}

.centerInputElement {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.addSpaces {
  margin-top: 20px !important;
}

@media (max-width: 760px) {
  .addSpaces {
    display: flex;
    flex-direction: column;
  }

  .centerInputElement {
    position: static;
    top: 0;
    transform: translateY(0);
  }

  .inputWidth {
    width: 70% !important;
  }
}
